doctype html
html
    head
        title= title
        link(href='http://fonts.googleapis.com/css?family=Lato:300,400,600,700', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/normalize.css")
        // link(rel="stylesheet", href="/stylesheets/skeleton.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="https://code.jquery.com/jquery-2.1.3.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react-with-addons.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        div#topbar
            h1
                a(href='/')#title= title

            div
                span#react-subpyfiller-app-mount
                span#user-bar
                    if user
                            a(href='/u/' + user.username)= user.username
                            | (
                            span= user.posts_score + user.comments_score
                            | ) |
                            a(href='/signout')  logout
                    else
                        a(href='/signin') Sign In
                        span &nbsp;or&nbsp;
                        a(href='/signup') Register
        div#sidebar
            h3 Submit
            a.button(href= '/r/' + subpy + '/submit') Link Post
            br
            a.button(href= '/r/' + subpy + '/submit?text=true') Text Post

        div#content
            block content

        script(src='/build/SubpyFiller.bundle.js')
