extends layout

block content
    div.sidebar.three.columns
        if user
            h3= user.username
            p= user.posts_score
                |  post score
            p= user.comments_score
                |  comment score
            h3 Posts 
        if errorMessage
            p.error-message= errorMessage
        div#react-posts-app-mount()
            script#postsAppScript(src='/build/PostsApp.bundle.js', subpy=null, username=user.username )
