extends layout

block content
    h1
        a(href='/r/' + subpy)#subpy= subpy
    a(href='/r/' + subpy + '/new') new
    a(href='/r/' + subpy + '/top') &nbsp; top 
    a(href='/r/' + subpy + '/hot') &nbsp; hot
    div#react-posts-app-mount
        script#postsAppScript(src='/build/PostsApp.bundle.js', subpy= subpy, sortBy = sortBy)
